body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;		
		}
header {
		background-color: aquamarine;
		height: 60px;
		width: auto;
	}
	fieldset{
		background-color:bisque ;
		height: 400px;
		width: auto;
	}
	footer{
		background-color: coral;
		height: 30px;
		width: auto;
	}